.header {
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;
    gap: 1rem;
    background-color: var(--color-grey-8);
  }
  
  .drop {
    animation: dropDown ease-in-out 0.7s;
  }
  
  @keyframes dropDown {
    0% {
      transform: translateY(-100px);
    }
    70% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .header__title {
    color: var(--color-grey-2);
  }
  
  .header__btn {
    background-image: url("../assets/icons/moon.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 1.3rem;
    background-color: var(--color-grey-6);
    border-radius: 0.3125rem;
  }
  
  .header__btn--dark-mode {
    background-image: url("../assets/icons/sun.svg");
  }